body {
  font-family: sans-serif;
}
h2 {
  color: white;
}

.orange {
  background-color: orange;
}

.green {
  background-color: green;
}

.red {
  background-color: red;
}

.black {
  background-color: black;
}
